<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="margin:0 10%;">
    <h1>DataBase:</h1>
    <table class="table table-striped" border=1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for elem in users %}
            <tr>
                <td>{{elem.id}}</td>
                <td>{{elem.firstname}} {{elem.lastname}}</td>
                <td>{{elem.email_address}}</td>
                <td>{{elem.age}}</td>
            </tr>
            {%endfor%}
    </table>
        <br>
       <hr>
    <h1>Our From!</h1>
    <!-- <form methods="post" action="mailto: zakinahhas97@outlook.com"> -->
    <form  class="form-control" action="/handle" method="post">
        {% csrf_token %}
        <p style="width:20% ;" class="row">First Name:<input type="text" name="firstname"></p>
        <p style="width:20% ;" class="row">Last Name:<input type="text" name="lastname"></p>
        <p style="width:20% ;" class="row">Age:<input type="text" name="age"></p>
        <p style="width:20% ;" class="row">Email:<input type="text" name="email"></p>
        <p style="width:20% ;" class="row"><select name="fav">
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="red">red</option>
        </select></p>
        <input type="submit" value="send data">
    </form>
</body>
</html>