<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{authors.id}}</p>
    <p>{{authors.firstname}} {{authors.lastname}}</p>
    <p>{{authors.notes}}</p>
    
    <ul>
    {% for book in authors.books.all %}
    <li>{{book.title}}</li>
    @{{book.description}}
    {%endfor%}
    </ul>

    <form action="/book_to_auth/{{authors.id}}" method="post">
        {%csrf_token%}
        <select name="bookToAuth">
            {% for book in books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
        </select>
        <p><input type="submit" value="Add Book"></p>
    </form>
</body>
</html>