<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_book" method="POST">
        {%csrf_token%}
        <h1>Add a book</h1>
        <p>Title<input type="text" name="title"></p>
        <p>Description<textarea name="description" cols="40" rows="5"></textarea></p>
        <p><input type="submit" value="Send Me!"></p>
    </form>
    <hr>
    <table>
        {% for book in books %}
        <tr>
         <td>{{book.title}}</td><td>{{book.id}}</td><td><a href="/books/{{book.id}}">View</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>