<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="flex">
        <h1 class="text1">Arbotrary</h1>
        <h2>Welcome, {{request.session.firstname}}</h2>
    </div>
    <div class="flex">
    <h2 class="text2">A site to track randomly planted trees</h2>
    <a class="ancor2" href="/dashboard">Dashboard</a>
    <a class="ancor3" href="/logout">Logout</a>
</div>
<table id="table" border=1>
        
    <td>Species</td>
    <td>Planted by</td>
    <td>Actions</td>
{% for tree in user.planted_by.all %}
<tr>
    <td>{{tree.species}}</td><td>{{tree.planted_by.firstname}}</td>
    <td><a href="/update/{{tree.id}}">Edit</a> <a href="/delete/{{tree.id}}">Delete</a></td> 
</tr>
{%endfor%}
</table>
</body>
</html>