<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
  <body>
    <table class="table table-danger table-bordered border-primary">
    {%for key in table%}
    
        <td>{{key}}</td>
        {%endfor%}
        <td>Full Name</td>
        {% for row in tableinfo %}
        <tr class="table-info">
            <td>{{ row ['First Name'] }}</td>
            <td>{{ row ['Last Name'] }}</td>
            <td>{{ row ['First Name'] }} {{ row ['Last Name'] }}</td>
        </tr>
        {%endfor%}
    </table>
  </body>
</html>
