* {
    margin: 0;
    padding: 0;
}


.row {
    display: flex;    
}
.col {
    background-color: {{color1}};
    width: 7em;
    height: 8em;
    border: 2px solid black;
}
.col2 {
    background-color: {{color2}};
    width: 7em;
    height: 8em;
    border: 2px solid black;
}