.row {
    display: flex;
}
.col {
    flex: 4;
    margin: 20px;
    padding: 20px;
    background-color: rgb(89, 152, 160);
    text-align: center;


}
.col-2 {
    flex:2 3 auto;
    margin: 20px;
    padding: 20px;
    background-color: rgb(89, 152, 160);
    text-align: center;
}
.col-3 {
    flex: 3 5 auto;
    margin: 20px;
    padding: 20px;
    background-color: rgb(89, 152, 160);
    text-align: center;
}